header{
  text-align: center;
  height:10vh;
  border: 1px solid black;
  width: 99%;
}

main{
  display: inline-block;
  height: 85vh;
  width:84%;
}

aside{
  border: 1px solid black;
  width: 15%;
  height: 85vh;
  display: inline-block;
  vertical-align: top;
}

.stats{
  border: 2px solid gray;
  width: 120px;
  height: 50px;
  padding: 3px;
  background-color: lightblue;
  text-align: center;
  margin-bottom: 5px;
  vertical-align: middle;

}

.container {

  height: 100%;
  width: 100%;
  position: relative;
  background-color: yellow;
  border: 2px solid black;
}

.card{
  background-color: black;
  height: 26%;
  width: 16%;
  display: inline-block;

}
