header{
  text-align: center;
  height:10vh;
  width: 99%;
}

main{
  display: inline-block;
  height: 85vh;
  width:84%;
}

aside{
  border: 1px solid black;
  width: 15%;
  height: 85vh;
  display: inline-block;
  vertical-align: top;
}

.stats{
  border: 2px solid gray;
  width: 120px;
  height: 50px;
  padding: 3px;
  background-color: lightblue;
  text-align: center;
  margin-bottom: 5px;
  vertical-align: middle;

}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: darkblue;
  border: 2px solid black;
}

.card{
  height: 31%;
  width: 15%;
  display: inline-block;
  position: relative;
  margin: 5px;
}

.card-front, .card-back, .side1, .dan{
  position:absolute;
  height:100%;
  width:100%;
  background-position: center;
  background-size: cover;
}

.side1{
    background-image: url("./assets/images/lfz-card.jpg");
}

.dan{
  background-image: url("./assets/images/dan.jpg");
}

.hidden{
  display: none;
}
