body{
  background-image: url("./assets/images/building.jpg");
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  color: white;
}

header{
  text-align: center;
  height:10vh;
  width: 99%;
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
}

main {
  display: inline-block;
  height: 85vh;
  width:84%;
}

aside {
  width: 15%;
  height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2{
  font-size: 30px;
  margin-bottom: 3px;
  margin-top: 1px;
  text-shadow: 2px 2px 4px #000000;
}

.stats{
  border-radius: 25px;
  border: 2px solid gray;
  width: 90%;
  height: 11%;
  padding: 3px;
  background-color: lightblue;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 5px grey;
  font-size: 20px;
  color: black;
}

.game_container{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  height: 31%;
  width: 15%;
  display: inline-block;
  position: relative;
  margin: 5px;
  box-shadow: 7px 7px 5px grey;
}

.card-front, .card-back, .side1, .dan, .cody, .bill, .blind-robot, .brett, .scott, .tim-d, .tim-h, .bridge{
  position:absolute;
  height:100%;
  width:100%;
  background-position: center;
  background-size: cover;
}

.side1{
  background-image: url("./assets/images/czech-flag.jpg");
}

.hello, .dobry_den{
  background-image: url("./assets/images/hello.jpg");
}

.dobry_den, .hrad, .muz, .most, .zena, .kocka, .pes, .dobrou_noc, .pivo{
  opacity: 0.7;
  background-color: white;
}

.castle, .hrad{
  background-image: url("./assets/images/castle.jpg");
}

.man, .muz{
  background-image: url("./assets/images/man.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.woman, .zena{
  background-image: url('./assets/images/woman.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.cat, .kocka{
  background-image: url('./assets/images/cat.jpg');
}

.beer, .pivo{
  background-image: url('./assets/images/beer.jpg');
}

.dog, .pes{
  background-image: url('./assets/images/dog.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.goodnight, .dobrou_noc{
  background-image: url('./assets/images/goodnight.jpg');
}

.bridge, .most{
  background-image: url('./assets/images/bridge.jpg');
}


.hidden{
  display: none;
}

.win{
  border-radius: 25px;
  border: 3px solid grey;
  height: 15%;
  width: 20%;
  background-color: white;
  position: absolute;
  font-size: 30px;
  text-align: center;
  align-content: center;
  padding-top: 20px;
}

.image-text {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
}
